.update-plant-header {
  margin-top: 32px;
  margin-bottom: 24px;
  text-align: center;
}

@media (max-width: 768px) {
  .update-plant-header {
    margin-top: 20px;
  }
}

.update-plant-page {
  padding-top: 32px;
}
