// Biến màu sắc dùng chung cho toàn bộ project
$auth-bg: #178a4c;
$auth-green: #C2FFC7;
$auth-green-dark: #14532d;
$auth-yellow: #F6E96B;
$auth-orange: #ff9800;
$auth-error: #e53935;
$auth-success: #ff9800;
